.container-favorite {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin: 5px 0;
}
img {
	height: 30px;
	width: 30px;
	border-radius: 5px;
}

.container-img-favorite {
	width: 20%;
}

.disk-fav {
	font-size: 0.85rem;
	width: 25%;
	color: #fff;
}

.artist-fav {
	font-size: 0.85rem;
	width: 25%;
	color: #fff;
}

.icon-delete-fav {
	color: #df0000;
}
