.card__container {
	border: 1px solid #cacaca;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 0.5rem;
	margin: 0.5rem 0.5rem;
	border-radius: 10px;
	box-shadow: -7px 1px 65px -15px rgba(82, 82, 82, 0.95);
	-webkit-box-shadow: -7px 1px 65px -15px rgba(82, 82, 82, 0.95);
	-moz-box-shadow: -7px 1px 65px -15px rgba(82, 82, 82, 0.95);
	background: rgb(230, 230, 230);
	user-select: none;
}

.card__container .card__container-img img {
	width: 200px;
	border-radius: 10px;
	height: auto;
}

.card__container h4 {
	color: #4636d4;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

.card__container h3 {
	text-align: center;
	margin: 0.5rem 0 0;
}

.card__container p {
	color: #555555;
	font-size: 0.75rem;
	font-weight: bolder;
	text-align: center;
}

.card__container button {
	color: #ffffff;
	background: #4c39ff;
	border: none;
	border-radius: 0.25rem;
	font-size: 0.85rem;
	text-align: center;
	padding: 0.3rem 0.75rem;
	margin: 0 0.85rem;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

.card__container button:hover {
	background: #2f2399;
}

.remove-favorite {
	color: #2f2399;
	cursor: pointer;
}

.add-favorite:hover {
	color: #fffb02;
	cursor: pointer;
}

.add-favorite {
	color: #fffb02;
	cursor: pointer;
}
.container-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
