.cart-shopping {
	border: 1px solid #cacaca;
	margin: 0.5rem auto;
	width: 90%;
	overflow: hidden;
	border-radius: 10px;
	background: rgb(27, 27, 27);
	user-select: none;
}

.cart-shopping .cart-shopping__title {
	text-align: center;
	margin: 0.5rem 0 2.5rem;
	color: #ffffff;
}

.cart-shopping div {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-evenly;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	font-size: 1rem;
	font-weight: 600;
	color: #e9e9e9;
	margin: 0 0 0.5rem;
	padding: 0 0.5rem;
}

.cart-shopping .cart-shopping__total {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	margin: 2rem 0 0;
	color: #a39af3;
}

.cart-shopping .cart-shopping__button {
	color: #ffffff;
	background: #4c39ff;
	border: none;
	border-radius: 0.25rem;
	width: 80%;
	padding: 1rem;
	margin: 3rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	transition: all 0.5s;
}

.cart-shopping .cart-shopping__button:hover {
	color: #ffffff;
	background: #9f39ff;
}
