.description-disk {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #070614;
	user-select: none;
}

.description-disk__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2.5rem;
}

.description-disk__img {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 44px -5px rgba(0, 0, 0, 0.75);
	border: 1px solid #fff;
}

.description-disk__containter-text {
	margin: 0 1rem;
	height: 300px;
}

.description-disk__description-record {
	flex-grow: 1;
	font-size: 0.85rem;
	color: rgb(235, 235, 235);
	line-height: 1.5;
}

.description-disk__artist {
	font-size: 2.5rem;
	color: rgb(235, 235, 235);
	font-weight: bolder;
	line-height: 1.2;
	margin: 0;
}

.description-disk__button {
	min-width: 130px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background-color: #652fa3;
	text-align: center;
	text-decoration: none;
	margin-bottom: 7rem;
	margin-top: 1rem;
}
.description-disk__button:hover {
	border-radius: 5px;
	padding-right: 24px;
	padding-left: 8px;
}
.description-disk__button:hover:after {
	opacity: 1;
	right: 10px;
}
.description-disk__button:after {
	content: '\00BB';
	position: absolute;
	opacity: 0;
	font-size: 20px;
	line-height: 40px;
	top: 4px;
	right: -20px;
	transition: 0.4s;
}

.description-disk__row-first {
	color: #fff;
}

.description-disk__row-second {
	color: #fff;
}

.description-disk__read-more,
.description-disk__read-less {
	background: transparent;
	border: none;
	color: #edf100;
	cursor: pointer;
}

.descriptiom-disk__play-random {
	border: none;
	display: flex;
	flex-flow: row;
	min-width: 150px;
	max-width: 175px;
	padding: 0.45rem 1rem;
	cursor: pointer;
	background: #fff;
}

.descriptiom-disk__play-random span {
	font-size: 1rem;
	margin-top: 0.1rem;
	font-weight: bold;
}

.descriptiom-disk__play-random svg {
	margin-right: 1rem;
	font-size: 1.25rem;
}
