.navbar {
	color: #ffffff;
	background: #243074;
	padding: 1rem;
	display: flex;
	justify-content: end;
	box-shadow: -7px 0px 45px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -7px 0px 45px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -7px 0px 45px -1px rgba(0, 0, 0, 0.75);
}
