.song {
	color: #fff;
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
	border-bottom: 1.5px solid rgb(39, 39, 39);
	padding: 10px 0;
	margin-bottom: 5px;
}

.song__name {
	flex-grow: 1;
	margin-left: 2.5rem;
	font-weight: bold;
}

.song__play {
	flex-grow: 1;
	width: 15%;
	cursor: pointer;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.song__container-like {
	margin-right: 2rem;
	font-size: 1.5rem;
	color: transparent;
}

.song__like {
	margin-right: 1rem;
	cursor: pointer;
	padding: 5px;
}

.song:hover .song__container-like {
	color: #fff;
}

.song__img {
	height: 30px;
	width: 30px;
	border-radius: 5px;
}

.song__explicit {
	margin-right: 5rem;
}

.song__like-real {
	color: #edf100;
	padding: 5px;
	cursor: pointer;
	margin-right: 1rem;
}
